@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    box-sizing: border-box;

}

body {
    background-image: url(./img/photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
    
}

.countdown-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.big-text {
    font-size: 5rem;
    margin: 0 4rem;
   
}

.coutdown-el {
    text-align: center;
}

.coutdown-el span {
    font-size: 1.5rem;
}